html {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.App {
  text-align: center;
  
}

.Header {
  display: flex;
  justify-content: end;
}

.Header a{
  padding-left: 10px;
}

.Trending-content img {
  width: 50px;
  height: 50px;
}

.filter-by-brand {
  width: 50%;
}

.filter-by-brand ul {
  list-style: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

a {
  text-decoration: none;
  padding: 1px;
}
